<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IOParking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" center>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IOParking</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <form *ngIf="!showParkingInfo; else parkingList" [formGroup]="parkingForm" (ngSubmit)="onSubmit()">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Latitude:</ion-label>
            <ion-input formControlName="latitude" type="number" placeholder="Insert a latitude"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Longitude:</ion-label>
            <ion-input formControlName="longitude" type="number" placeholder="Insert a longitude"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-datetime display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" formControlName="date"
            display-timezone="utc" placeholder="Insert a arrive date"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-datetime display-format="HH:mm" picker-format="HH:mm" formControlName="time" display-timezone="utc"
            placeholder="Insert a arrive time"></ion-datetime>
        </ion-col>

      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button [disabled]="!parkingForm.valid" type="submit" color="primary">Submit</ion-button>
      </ion-row>

      <ion-item>
        latitude: {{ parkingForm.get('latitude').value }}
      </ion-item>
      <ion-item>
        longitude: {{ parkingForm.get('longitude').value }}
      </ion-item>
      <ion-item>
        date: {{ parkingForm.get('date').value }}
      </ion-item>
      <ion-item>
        time: {{ parkingForm.get('time').value }}
      </ion-item>



    </form>

    <ng-template #parkingList>
      <ion-card *ngFor="let park of parkingArray">
        <ion-card-header>
          <ion-card-title>{{park.park_group_name}} : {{park.park_name}}</ion-card-title>
          <ion-card-subtitle>Address: {{park.address}}</ion-card-subtitle>
          <ion-card-subtitle>Postal Code: {{park.postal_code}}</ion-card-subtitle>
          <ion-card-subtitle>House Number: {{park.house_number}}</ion-card-subtitle>

        </ion-card-header>

        <ion-card-content>
          <ion-row>
            <ion-col>
              <b>Occupation</b>: {{park.prediction}}
            </ion-col>
          </ion-row>
          <hr>
          <ion-row>
            <ion-col>
              <b>Price/h</b>: {{park.price}}€
            </ion-col>
          </ion-row>
          <hr>
          <ion-row>
            <ion-col>
              <b>Walking time</b>: {{park.distance.duration.text}}
            </ion-col>
            <ion-col>
              <b>Distance</b>: {{park.distance.distance.text}}
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>

    </ng-template>
  </ion-grid>

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>